In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from data.load_data import load_data

In [4]:
df= load_data("../data/raw/water_quality.csv")

Data successfully loaded from ../data/raw/water_quality.csv

In [5]:
# CHecking for null values
null_vals =df.isna().sum()

In [4]:
# Fiiling the missing values

df['ph'].fillna(df['ph'].median(),inplace=True)
df['Sulfate'].fillna(df['Sulfate'].median(),inplace=True)
df['Trihalomethanes'].fillna(df['Trihalomethanes'].median(),inplace=True)

C:\Users\Amol Mehra\AppData\Local\Temp\ipykernel_16912\391466451.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ph'].fillna(df['ph'].median(),inplace=True)
C:\Users\Amol Mehra\AppData\Local\Temp\ipykernel_16912\391466451.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Sulfate'].fillna(df['Sulfate'].median(),inplace=True)
C:\Users\Amol Mehra\AppData\Local\Temp\ipykernel_16912\391466451.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Trihalomethanes'].fillna(df['Trihalomethanes'].median(),inplace=True)

In [5]:
# CHecking again for null values
df.isna().sum()

ph                 0
Hardness           0
Solids             0
Chloramines        0
Sulfate            0
Conductivity       0
Organic_carbon     0
Trihalomethanes    0
Turbidity          0
Potability         0
dtype: int64

In [8]:
from sklearn.preprocessing import StandardScaler
# Features (X) are obtained by dropping the 'Potability' column
X = df.drop(columns=['Potability'])

# Target variable (y) is set to the 'Potability' column
y = df['Potability']

In [9]:
# Initialize StandardScaler
scaler = StandardScaler()

# Fit and transform the data
X_standardized = pd.DataFrame(scaler.fit_transform(X))
X_standardized.describe().loc[['min', 'mean', 'std', 'max']].T.style.background_gradient(axis=1)

In [10]:
y.head(5)

0    0
1    0
2    0
3    0
4    0
Name: Potability, dtype: int64

In [12]:
X.head(5)

         ph    Hardness  ...  Trihalomethanes  Turbidity
0  7.036752  204.890455  ...        86.990970   2.963135
1  3.716080  129.422921  ...        56.329076   4.500656
2  8.099124  224.236259  ...        66.420093   3.055934
3  8.316766  214.373394  ...       100.341674   4.628771
4  9.092223  181.101509  ...        31.997993   4.075075

[5 rows x 9 columns]

In [13]:
X["Potability"]=y

In [14]:
X.columns

Index(['ph', 'Hardness', 'Solids', 'Chloramines', 'Sulfate', 'Conductivity',
       'Organic_carbon', 'Trihalomethanes', 'Turbidity', 'Potability'],
      dtype='object')

In [15]:
df_preprocessed = X.copy()